<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic" rel="stylesheet">
        <link href="{{ 'assets/styles/theme.css'|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>
        <div class="site-wrapper">
            <header class="site-header">
                {% partial "header" %}
            </header>
            <div class="site-content container mx-auto">
                {% page %}
            </div>
            <footer class="site-footer bg-gray-800">
                {% partial "footer" %}
            </footer>
        </div>

        <!-- Scripts -->
        <script src="{{ 'assets/scripts/theme.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>
